
[include mainsail.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor stepper_x]
sensor_type: Generic 3950
sensor_pin: PA1
min_temp:0
max_temp:300

[temperature_sensor stepper_y]
sensor_type: Generic 3950
sensor_pin: PA2
min_temp:0
max_temp:300

#-------------------------------------------------------------------------------------------------------------

[mcu]    # Manta M5P - damage
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_260018000B504B5735313920-if00


[printer]
kinematics: corexy
max_velocity: 600
max_accel: 6000
max_accel_to_decel:6000
max_z_velocity: 3
max_z_accel: 10

#---------------------------------------------------------------------------------

[stepper_x]       # Motor 1  - left
step_pin: PC8
dir_pin: PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
homing_speed: 20
endstop_pin: tmc2130_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_min:0
position_max: 278

[tmc2130 stepper_x]
cs_pin: PD9
spi_bus: spi2
diag1_pin: ^!PD3       # Pin connected to TMC DIAG1 pin (or use diag0_pin / DIAG0 pin)
driver_SGT: 5         # -64 is most sensitive value, 63 is least sensitive
run_current: 0.900
stealthchop_threshold: 0 #999999
interpolate: True

#-----------------------------------------------------------------

[stepper_y]  # Motor 2 - right
step_pin: PA10
dir_pin: PA14
enable_pin: !PA13
microsteps: 16
rotation_distance: 40 # 0.80
homing_speed: 20
endstop_pin: tmc2130_stepper_y:virtual_endstop 
position_endstop: 0
homing_retract_dist: 0
position_max: 298
position_min: 0        

[tmc2130 stepper_y]
cs_pin: PD8
spi_bus: spi2
diag1_pin: ^!PD2        # Pin connected to TMC DIAG1 pin (or use diag0_pin / DIAG0 pin)
driver_SGT: 4          # -64 is most sensitive value, 63 is least sensitive
run_current: 0.900
stealthchop_threshold: 0 #999999
interpolate: True

#-------------------------------------------------------------------------------

[stepper_z]   # Motor 3
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
microsteps: 16
rotation_distance: 0.8
homing_speed: 2
endstop_pin: probe:z_virtual_endstop 
# position_endstop: 0    
position_max: 150
position_min: -2             ### The Z carriage may need to travel below the Z=0

[tmc2130 stepper_z]
cs_pin: PB10
spi_bus: spi2
run_current: 0.500
stealthchop_threshold: 999999

#-----------------------------------------------------------------------

###############################################
# BIQU BIGTREETECH Microprobe Auto Leveling  
###############################################

[gcode_macro Probe_Deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=1


[gcode_macro Probe_Stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

##############################################

[output_pin probe_enable]
pin: PC15      # control_pin 
value: 0


[probe]
pin: ^!PC13    # sensor_pin 
deactivate_on_each_sample: False
x_offset: 0                  
y_offset: 0
z_offset: 0
speed: 2.0
samples: 2
#sample_retract_dist: 2.0
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
    Probe_Deploy
    G4 P500      # allow time for probe to deploy before homing Z
deactivate_gcode:
    Probe_Stow

#----------------------------------------------------------------------------

###############################################
# SENSORLESS HOMING SEQUENCE FOR COREXY  
###############################################

[homing_override]
axes: z
set_position_z: 0
gcode:
  
   ##### get user defines position endstop Z or probe #####   
   {% set z_endstop_x = 130 %}
   {% set z_endstop_y = 150 %}
   {% set z_hop = 4 %}

   # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2130 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2130 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.700 %}     

   # Z-hop befor homing - lift nozzle
   G91; set relative
#   G0 Z{z_hop} F900 
   G90; set absolute

    # Set current during  Home XY    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
   
     {% if "x" not in printer.toolhead.homed_axes %}
       G4 P2000   # Wait just a second… (give StallGuard registers time to clear)     
       G28 X0
       G1 X10 F1200       
     {% endif %}
     
     {% if "y" not in printer.toolhead.homed_axes %}    
       G4 P2000   # Wait just a second… (give StallGuard registers time to clear)
       G28 Y0
       G1 Y10 F1200      
     {% endif %}

    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    
     ## XY Location of the Z probe
     G0 X{z_endstop_x} Y{z_endstop_y} F7200   
      ## HOME Z
#      G28 Z0   
      ## Elevator Z
#      G0 Z{z_hop} F1800      
      
   
#----------------------------------------------------------------------------  

#[bed_mesh]
#speed: 240
#horizontal_move_z: 6
#mesh_min: 20,20
#mesh_max: 220, 220
#probe_count: 3,3

#fade_start: 1.0
#fade_end: 10.0

#-------------------------------------------------------------------------------------


[gcode_macro TEST]
gcode:

 {% set speed = params.F|default(6000)|int %}

   {% if "xyz" not in printer.toolhead.homed_axes %}     
     G28 
   {% endif %}

  G1 Z1 F900

  G1 X10 Y10 F{speed}
  G1 Y285
  G1 X265
  G1 Y10
  G1 X10
 
  G1 X265 Y285
  G1 X10 Y10

  G1 X125 Y150
    
  G1 Z0 F900

    


